@font-face {
  font-family: montreal;
  src: url(../fonts/PPNeueMontreal-Medium.woff2);
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background-color: black;
}

.container {
  height: 100%;
  padding: 1rem;

  font-family: montreal;
  @media (min-width: 768px) {

  }
  @media (min-width: 1280px) {
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.navmenu {
  display: flex;
  color: white;
}

.items {
  margin-right: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.items:hover {
  text-decoration: underline;
}

.email {
  padding-top: 2rem;
  color: white;
  font-size: 1rem;
}

.emailaddress {
  font-size: 1.1rem;
  margin-left: 0.1rem;

  color: white;
}