@font-face {
  font-family: montreal;
  src: url(../fonts/PPNeueMontreal-Medium.woff2);
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background-color: black;
}

.container {
  height: 100%;
  padding: 1rem;

  font-family: montreal;
  @media (min-width: 768px) {

  }
  @media (min-width: 1280px) {
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.navmenu {
  display: flex;
  color: white;
}

.items {
  margin-right: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.items:hover {
  text-decoration: underline;
}

.grids {
  padding-top: 1rem;
  padding-bottom: 1rem;
  @media (min-width: 1280px) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.imgs {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
  padding-bottom: 5px;
  @media (min-width: 768px) {
    padding-bottom: 10px;
  }
  @media (min-width: 1024px) {
  }
  @media (min-width: 1280px) {
  }
}

.footer {
  color: white;
  padding-bottom: 1rem;
  @media (min-width: 1280px) {
    padding-bottom: 2rem;
  }
}